<section>
  <mat-dialog-content class="mat-typography">
    <h1 mat-dialog-title [align]="'center'">NEW TASK</h1> 
    <form class="pb-16" #todoForm="ngForm" (ngSubmit)="save()">
      <input 
      type="text" 
      name="title" 
      [(ngModel)]="todoData.title" 
      placeholder="Input your notes..." 
      class="w-md rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-2 -outline-offset-2 outline-indigo-400 placeholder:text-gray-400 focus:outline-none "
      >
    </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close class="btn-cancel">Cancel</button>
  <button mat-flat-button [mat-dialog-close]="true" class="btn-apply" cdkFocusInitial type="submit">
    Apply
  </button>
</mat-dialog-actions>
</section>
